/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font-size: 13px;
  line-height: 1;
}
a {
  color: #666;
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container {
  width: 94%;
  margin: 0 auto;
}
.section {
  padding-top: 20px;
}
.section>.title>h2{
  position: relative;
}
.section>.title>h2:before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #999;
  position: absolute;
  top: 46%;
  left: 34%;
}
.section>.title>h2:after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #999;
  position: absolute;
  top: 46%;
  right: 34%;
}
h2, h3, h4 {
  color: #333;
}
h2 {
  font-size: 18px;
}
h3, h4 {
  font-size: 16px;
}
p {
  font-size: 13px;
  line-height: 24px;
  color: #666;
  margin-bottom: 8px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
img {
  width: 100%;
}
.button {
  font-size: 13px;
  width: 25%;
  margin:0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.button .prev, .button .next, .button .more {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #d2d2d2;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height:140px;
  background-size: cover;
}
.banner_wrap h3 {
  margin-bottom: 10px;
}
.button .more {
  width: 100px;
}
.button .prev, .button .next {
  width: 40px;
  color: #d2d2d2;
}
.button .prev, .button .more {
  margin-right:10px ;
}
div:focus {
  outline: none;
  }